@model dynamic

<div class="playlist-container">
    <h2>Your Playlists</h2>
    <div class="row">
        @foreach (var playlist in Model.Playlists)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@playlist</h5>
                        <button class="btn btn-primary w-100">View Playlist</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
